/* - - - - - - - - - - - - - - - - - - - - - - - - - - - *
 * Name:  Pete Carey
 * Email: internetpete@gmail.com
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 
/* Typography
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
 
/* Fonts */
body   { font-family: 'Montserrat', sans-serif; }

p,h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; font-weight: 300; }

p { font-weight: 400; }

a:hover { text-decoration: none; }


/* Header
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 
/* Background */
.navbar-solomo {
    background-color: #203E46 !important;
	border-bottom: 5px solid #D05454;
	letter-spacing: .0625em;
}

/* Logo */
a.navbar-brand img {
	height: 46px;
	margin-top: 6px;
}

/* Navigation */
.navbar button:focus {
    outline: none;
	border-color: rgba(255,255,255,.3) !important;
}

.navbar-solomo .navbar-nav .nav-link {
	color: rgba(164,218,215,.8);
}

a.nav-link {
	-webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out, color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
	transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.active a.nav-link {
	color: #D05454 !important;
}

a.nav-link:hover {
	background-color: #1BA39C;
	color: #FCFEFE !important;
}

a.nav-link:active {

}

a.nav-link {
	padding: .5rem 1rem !important;
	border-radius: 5px;
}

.nav-item i {
     margin-right: 8px;
}


/* Media Queries 
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Bootstrap 4 Breakpoints */

/* xs - Extra Small Devices - less than 544px */
@media (max-width : 543px) {

}

/* sm - Small Devices - 544px and up */
@media (min-width : 544px) {

}

/* md - Medium Devices - 768px and up */
@media (min-width : 768px) {

}

/* lg - Large Devices - 992px and up */
@media (min-width : 992px) {
  .navbar-nav {
	line-height: 80px;
  }
  a.navbar-brand img {
	height: 54px;
	margin-top: 10px;
  }
  a.nav-link {
	margin-top: 10px;
	padding: 0px !important;
	min-width: 120px;
	text-align: center;
	border-radius: 15px 30px 0 0;
  }
}

/* xl - Extra Large Devices - 1200px and up */
@media (min-width : 1200px) {

}